<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>login</td><td>ZipperHQLoggin.loginTest()[pri:0, instance:com.zyprr.test.ZipperHQLoggin@2e1ef60]<br/></td></tr>
</table>
