<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>testng</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b2be7a">  <td>21/02/18 15:29:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.loadWebDriver(java.lang.String)[pri:0, instance:com.zyprr.test.ZipperHQLoggin@2e1ef60]">&gt;&gt;loadWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@254896875</td>   <td>48361312 </td> </tr>
<tr bgcolor="73f9fc">  <td>21/02/18 15:29:50</td>   <td>9358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZipperHQLoggin.loginTest()[pri:0, instance:com.zyprr.test.ZipperHQLoggin@2e1ef60]">loginTest</td> 
  <td>main@254896875</td>   <td>48361312 </td> </tr>
<tr bgcolor="b2be7a">  <td>21/02/18 15:29:50</td>   <td>9442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTest.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.zyprr.test.ZipperHQLoggin@2e1ef60]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@254896875</td>   <td>48361312 </td> </tr>
<tr bgcolor="73f9fc">  <td>21/02/18 15:29:50</td>   <td>9442</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ZipperHQLoggin.tearDown()[pri:0, instance:com.zyprr.test.ZipperHQLoggin@2e1ef60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@254896875</td>   <td>48361312 </td> </tr>
</table>
