<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e7619d">  <td>21/06/10 12:46:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddContact.addContactTest()[pri:0, instance:com.zyprr.test.testcase.contact.AddContact@3c9168dc]">addContactTest</td> 
  <td>main@95322593</td>   <td>1233505227 1928621590 1016162524 </td> </tr>
<tr bgcolor="e7619d">  <td>21/06/10 12:46:02</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddContact.addContactTest()[pri:0, instance:com.zyprr.test.testcase.contact.AddContact@4985cbcb]">addContactTest</td> 
  <td>main@95322593</td>   <td>1233505227 1928621590 1016162524 </td> </tr>
<tr bgcolor="e7619d">  <td>21/06/10 12:46:02</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddContact.addContactTest()[pri:0, instance:com.zyprr.test.testcase.contact.AddContact@72f46e16]">addContactTest</td> 
  <td>main@95322593</td>   <td>1233505227 1928621590 1016162524 </td> </tr>
</table>
