<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ZyprrTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2c4ed">  <td>21/07/28 20:37:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.loadWebDriver(java.lang.String)[pri:0, instance:com.zyprr.test.ZipperHQLoggin@39655d3e]">&gt;&gt;loadWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@923341586</td>   <td>962944318 </td> </tr>
<tr bgcolor="b5bebf">  <td>21/07/28 20:38:01</td>   <td>2692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZipperHQLoggin.loginTest()[pri:0, instance:com.zyprr.test.ZipperHQLoggin@39655d3e]">loginTest</td> 
  <td>main@923341586</td>   <td>962944318 </td> </tr>
<tr bgcolor="a2c4ed">  <td>21/07/28 20:38:01</td>   <td>2766</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.loadWebDriver(java.lang.String)[pri:0, instance:com.zyprr.test.testcase.templates.RecordVideoAndSaveRegularTemplate@4d9ac0b4]">&gt;&gt;loadWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@923341586</td>   <td>1301987508 </td> </tr>
<tr bgcolor="a9bca9">  <td>21/07/28 20:38:03</td>   <td>4654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RecordVideoAndSaveRegularTemplate.RecordVideoAndSaveRegularTemplate()[pri:0, instance:com.zyprr.test.testcase.templates.RecordVideoAndSaveRegularTemplate@4d9ac0b4]">RecordVideoAndSaveRegularTemplate</td> 
  <td>main@923341586</td>   <td>1301987508 </td> </tr>
<tr bgcolor="a2c4ed">  <td>21/07/28 20:38:03</td>   <td>4682</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.loadWebDriver(java.lang.String)[pri:0, instance:com.zyprr.test.ZipperHQLoggout@736caf7a]">&gt;&gt;loadWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@923341586</td>   <td></td> </tr>
<tr bgcolor="636ea3">  <td>21/07/28 20:38:05</td>   <td>6336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZipperHQLoggout.logoutTest()[pri:0, instance:com.zyprr.test.ZipperHQLoggout@736caf7a]">logoutTest</td> 
  <td>main@923341586</td>   <td></td> </tr>
</table>
