<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [ZyprrTestSuite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="da8e68">  <td>21/02/22 16:17:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.loadWebDriver(java.lang.String)[pri:0, instance:com.zyprr.test.ZipperHQLoggin@7dda48d9]">&gt;&gt;loadWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651667865</td>   <td>2111457497 </td> </tr>
<tr bgcolor="a9a8e4">  <td>21/02/22 16:17:37</td>   <td>12752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZipperHQLoggin.loginTest()[pri:0, instance:com.zyprr.test.ZipperHQLoggin@7dda48d9]">loginTest</td> 
  <td>main@1651667865</td>   <td>2111457497 </td> </tr>
<tr bgcolor="da8e68">  <td>21/02/22 16:17:53</td>   <td>28935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTest.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.zyprr.test.ZipperHQLoggin@7dda48d9]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1651667865</td>   <td>2111457497 </td> </tr>
<tr bgcolor="da8e68">  <td>21/02/22 16:17:53</td>   <td>29169</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.loadWebDriver(java.lang.String)[pri:0, instance:com.zyprr.test.ZipperHQLoggout@74bada02]">&gt;&gt;loadWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651667865</td>   <td></td> </tr>
<tr bgcolor="956bcf">  <td>21/02/22 16:17:53</td>   <td>29178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZipperHQLoggout.logoutTest()[pri:0, instance:com.zyprr.test.ZipperHQLoggout@74bada02]">logoutTest</td> 
  <td>main@1651667865</td>   <td></td> </tr>
<tr bgcolor="da8e68">  <td>21/02/22 16:18:01</td>   <td>37314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTest.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.zyprr.test.ZipperHQLoggout@74bada02]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1651667865</td>   <td></td> </tr>
<tr bgcolor="da8e68">  <td>21/02/22 16:18:01</td>   <td>37388</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.loadWebDriver(java.lang.String)[pri:0, instance:com.zyprr.test.ZipperHQLoggin@797cf65c]">&gt;&gt;loadWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651667865</td>   <td>2038232668 </td> </tr>
<tr bgcolor="a9a8e4">  <td>21/02/22 16:18:01</td>   <td>37400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZipperHQLoggin.loginTest()[pri:0, instance:com.zyprr.test.ZipperHQLoggin@797cf65c]">loginTest</td> 
  <td>main@1651667865</td>   <td>2038232668 </td> </tr>
<tr bgcolor="da8e68">  <td>21/02/22 16:18:02</td>   <td>38267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTest.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.zyprr.test.ZipperHQLoggin@797cf65c]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1651667865</td>   <td>2038232668 </td> </tr>
<tr bgcolor="da8e68">  <td>21/02/22 16:18:02</td>   <td>38364</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTest.loadWebDriver(java.lang.String)[pri:0, instance:com.zyprr.test.ZipperHQLoggout@5adb0db3]">&gt;&gt;loadWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1651667865</td>   <td></td> </tr>
<tr bgcolor="956bcf">  <td>21/02/22 16:18:02</td>   <td>38387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZipperHQLoggout.logoutTest()[pri:0, instance:com.zyprr.test.ZipperHQLoggout@5adb0db3]">logoutTest</td> 
  <td>main@1651667865</td>   <td></td> </tr>
<tr bgcolor="da8e68">  <td>21/02/22 16:18:02</td>   <td>38408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTest.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.zyprr.test.ZipperHQLoggout@5adb0db3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1651667865</td>   <td></td> </tr>
</table>
